.oc-correct-answer-item  {
    margin-right: 20px;
    margin-top: 12px;
}

.oc-correct-answer-index-container {
    height: 30px;
    width: 20px;
    background: #2b2525dd;
    line-height: 27px;
    color: #fff;
    text-align: center;
}

.oc-correct-answer-text-container {
    padding-right: 10px;
    background: #b5b5b5;
    min-height: 30px;
    line-height: 27px;
    padding-left: 10px;
} 

.oc-answer .only-small-screen {
    display: none;
}

@media (max-width: 470px) {
    .oc-correct-answer-index-container {
        display: none;
    }

    .only-small-screen {
        display: inline-block;
        margin-right: 2px;
    }
}