.oc-template {
    text-align: left;
    padding: 20px;
    text-align: justify;
}

.oc-template.oc-incorrect-template {
    border: 1px solid #f2bcbc;
    border-top-width: 3px;
}

.oc-template.oc-correct-template {
    border: 1px solid #84b684;
    border-top-width: 3px;
}

.oc-icon-template {
    width: 36px;
    margin: auto;
    position: relative;
    top: 13px;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    height: 26px;
}

.oc-icon-template.oc-incorrect-template {
    background: #d73838
}

.oc-icon-template.oc-correct-template {
    background: #0e660e
    
}