.oc-footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    background:#696992;
    width: 100%;
}

@media (max-width: 470px) {
    .oc-answer {
        margin-top: 10px;
    }

    .oc-answer .oc-index, .oc-answer .oc-icon {
        display: none;
    }

    .oc-answer .oc-text {
        text-align: start
    }

    .oc-answer .only-small-screen {
        display: inline-block;
        margin-right: 2px;
    }
}