body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.oc-d-inline-block {
  display: inline-block;
}

.oc-d-inline {
  display: inline;
}

.oc-d-flex {
  display: flex;
}

code {
  color: #fb0000;
}

.oc-button {
  height: 40px;
  padding: 0px 40px;
  font-size: 17px;
  margin-top: 11px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  background: #52bdd1;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 10px 10px 24px -2px rgb(104, 104, 104);
  -moz-box-shadow: 10px 10px 24px -2px rgb(104, 104, 104);
  box-shadow: 10px 10px 24px -2px rgb(104, 104, 104);
}

.oc-div-error {
  background: #ce5757;
  padding: 20px;
  color: #fff;
  margin-top: 20px;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 30px 2px 8px;
  border: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

.oc-select {
  height: 25px;
  border: 1px solid #c2afaf;
  background: url(/images/combo-icono.svg) right center no-repeat;
  background-size: 14px;
  background-position-x: 98%;
  margin-top: 5px;
  margin-bottom: 5px;
}