.oc-review-state {
    float: left;
    margin-left: 10px;
    margin-top: 6px;
}

.oc-review-state .oc-review-state-info {
    border-radius: 50%;
    width: 50px;
    background: #43b16c;
    height: 50px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
}

.oc-review-state-text {
    color: #fff;
}