.oc-answer {
    position: relative;
    top: -4px;
}

.oc-answer .oc-index {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 28px;
    color: #fff;
}

.oc-answer.oc-correct-answer .oc-index {
    background: #0e660e;
}

.oc-answer.oc-incorrect-answer .oc-index {
    background: #d73838;
}

.oc-answer .oc-text {
    min-height: 30px;
    padding: 0 20px;
    display: inline-block;
    line-height: 29px;
}

.oc-answer.oc-correct-answer .oc-text {
    background: #84b684;
}

.oc-answer.oc-incorrect-answer .oc-text {
    background: #f2bcbc;
}

.only-small-screen {
    display: none;
}

.oc-icon  {
    display: inline-block;
    top: 4px;
    position: relative;
    font-size: 24px;
    height: 30px;
}

.oc-answer.oc-correct-answer .oc-icon  {
    color: #0e660e;
    background: #84b684;
}

.oc-answer.oc-incorrect-answer .oc-icon  {
    color: #d73838;
    background: #f2bcbc;
}

@media (max-width: 470px) {
    .oc-answer {
        margin-top: 10px;
    }

    .oc-answer .oc-index, .oc-answer .oc-icon {
        display: none;
    }

    .oc-answer .oc-text {
        text-align: start
    }

    .oc-answer .only-small-screen {
        display: inline-block;
        margin-right: 2px;
    }
}